- var restlist = [{title: "Макдоналдс — Газетный", pic:"img/mac.png", cost:"₽₽", kitchen:"Бургеры", time:"25-35 Min"},{title: "", pic:"", cost:"₽", kitchen:[""], time:" Min"}, {title: "DimSum & Co — ЦДМ", pic:"./assets/img/dimsum.png", cost:"₽", kitchen:["Японская","Китайская","Азиатская"], time:"25-35 Min"},{title: "ДвижОК — Манежная", pic:"", cost:"₽", kitchen:[""], time:" Min"}];

mixin rest-item-card(rest)
  .col-4
    .restitem-card
      img.restitem-card__img(src=rest.pic, alt=rest.title)
      source
      h1=rest.title

.row
  for rest in restlist
    +rest-item-card(rest)