block nav
    nav.navbar
        a.logo(href="#") 
          img(src="img/logo.svg", alt="logo")
        .delivery-controls
          button.delivery__select.asap(name="ASAP") asap
          span.delivery__text to
          input.delivery__input(placeholder="ul.Bolshaya Dmitrovka, 22")
        .sign-in-up
          button.nav__signin Sign In
          button.nav__signup Sign Up
          a.mdi-basket(href="#") Basket