doctype html
html
  head
  body
  - var restlist = [{title: "Макдоналдс — Газетный", pic: "../img/mac.png", cost:"₽₽", kitchen:"Бургеры", time:"25-35 Min"}];

    mixin rest-item-card(rest)
      .col-4
        .restitem-card
          h1=rest.title
          img(src=rest.pic)

    .row
      for rest in restlist
        +rest-item-card(rest)


    script(src="index.js")
