/* @import '/scss/_layout.scss'; */
%container{
  width:1170px;
  margin-left: auto;
  margin-right:auto;
}

.row{
  @extend %container;
  display: flex;
  flex-wrap: wrap;
}
.col-4{
  flex-basis: 33.33333%;
}




.nav{
  @extend %container;
}

.rest-list{
  @extend %container;
}

.rest-item {
  background-color: beige;
}

h1{
  color: brown;
}